{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<h1>Bienvenue {{user}} !</h1>

<button id="currentButton">Sessions en cours</button>
<button id="futureButton">Sessions futures</button>
<button id="pastButton">Sessions passées</button>




<div id="tables">
    <table id="currentSessions" style="display:none;">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Date de fin</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <table id="futureSessions" style="display:none;">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Début</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <table id="pastSessions" style="display:none;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Début</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="modules">
    <table>
        <thead>
            <tr>
                <th>Nom du module</th>
            </tr>
        </thead>
        <tbody>
            {% for module in user.modulePrograms %}
                <td><a href="{{path('module_program.show',{id:module.id})}}">{{module}}</a></td>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function loadSessions(type) {  
            // Construire l'URL avec le bon type
            let tableId;
            switch(type) {
                case 'current':
                    tableId = '#currentSessions';
                    break;
                case 'future':
                    tableId = '#futureSessions';
                    break;
                case 'past':
                    tableId = '#pastSessions';
                    break;
            }
            var url = '{{ path('user.currentAjax', {'id': app.user.id, 'type': 'type' }) }}';
            url = url.replace('{{ app.user.id }}', {{app.user.id}}).replace('type', type);
            console.log(url);
            $.ajax({
                url: url,
                type: 'GET',
                
                success: function(response) {
                    $('thead').show();
                    $(tableId + ' tbody').empty();
                    console.log(response);
                    if (response.lenght == 0) {
                        $(tableId + " tbody").append('<p> N\'y a pas de session </p>')
                    }
                    response.forEach(function(session) {
                        $(tableId + ' tbody').append('<tr><td>' + session.name + '</td><td>' + session.dateStart + '</td><td>' + session.dateEnd + '</td></tr>');
                    });
                    $('#tables table').hide(); 
                    $(tableId).show();
                },
                error: function(jqXHR, textStatus, errorThrown) {

                    $(tableId + ' tbody').empty();
                    $(tableId + ' thead').hide();
                    console.error('Erreur AJAX:', textStatus, errorThrown);
                    $(tableId + ' tbody').append('<p> N\'y a pas de session dans cette rubrique </p>')
                }
            });
        }
        
        $('#currentButton').click(function() {
            loadSessions('current');
        });
    
        $('#futureButton').click(function() {
            loadSessions('future');
        });
    
        $('#pastButton').click(function() {
            loadSessions('past');
        });

        loadSessions('current');
    });
</script>
{% endblock %}

