{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <h3 class="mb-4">INSCRIPTION</h3>

        <div class="mb-3">
            {{ form_row(registrationForm.firstName, {
                label: 'Prénom :',
                label_attr: {'class': 'form-label'} 
            }) }}
        </div>

        <div class="mb-3">
            {{ form_row(registrationForm.name, {                
                label: 'Nom :',
                label_attr: {'class': 'form-label'}  
            }) }}
        </div>

        <div class="mb-3">
            {{ form_row(registrationForm.email, {
                label: 'E-Mail :',
                label_attr: {'class': 'form-label'} 
            }) }}
        </div>

        <div class="mb-3">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe :',
                label_attr: {'class': 'form-label'}
            }) }}
        </div>

        <div class="mb-3">
            {{ form_row(registrationForm.confirmPassword, {
                label: 'Confirmer le mot de passe :',
                label_attr: {'class': 'form-label'}
            }) }}
        </div>

        <div class="form-check mb-3">
            {{ form_row(registrationForm.agreeTerms, {
                label: 'Acceptez-vous les termes',
                label_attr: {'class': 'form-check-label'} 
            
            }) }}
        </div>

        <div id="buttonDiv">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
