{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}

    <h1>Liste des stagiaires</h1>

    <a href="{{path('intern.new')}}" class="btn btn-success">Ajouter un stagiaire</a>
    {% if interns | length > 0 %}
        {% for intern in interns %}
            <li><a href="{{path('intern.show',{id:intern.id})}}">{{intern}}</a>  <a href="{{path('intern.edit',{id:intern.id})}}" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a> <a href="{{path('intern.delete',{id:intern.id})}}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a></li>
        {% endfor %}

    {% else %}
        <p>Il n'y a pas encore de stagiaires . . .</p>
    {% endif %}


{% endblock %}
