{% extends 'base.html.twig' %}

{% block title %}{{category}}{% endblock %}

{% block body %}

    <a href="{{path('app_category')}}">Retour</a>

    <h1>{{category}}</h1>
    
    <table>
        <thead>
            <td>Nom du Module</td>
            <td>Le(s) intervenant(s)</td>
            <td>Nom de la/des session(s) / durée</td>
        </thead>
        <tbody>
            {% for module in category.modulePrograms %}
                <tr>
                    <td><a href="{{path('module_program.show',{id:module.id})}}">{{module.name}}</a></td>
                    <td>
                    {% for user in module.users %}
                        <li><a href="{{path('user.show',{id:user.id})}}">{{user}}</a></li>
                    {% endfor %}
                    </td>
                    <td>
                        {% if module.programs | length > 0 %}
                            <table>
                            {% for program in module.programs %}
                                <tr>
                                    <td><a href="{{path('session.show',{id:program.session.id})}}">{{program.session}}</a> </td>
                                    <td>{{program.duration}} jours</td>
                                </tr>
                            {% endfor %}
                            </table>
                        {% else %}
                            <p>Il n'y a pas encore de session pour ce module ...</p>
                        {% endif %}


                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
