{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}

    <h1>Liste des modules</h1>

    <a href="{{path('module_program.new')}}">Ajouter un module</a>
    {% if modules | length > 0 %}
        <table>
            <thead>
                <td>Nom du module</td>
                <td>Categorie</td>
            </thead>
            <tbody>
            {% for module in modules %}
            <tr>
                
                    <td><a href="{{ path('module_program.show',{id:module.id}) }}">{{module}}</a></td>
                    <td><a href="{{ path('category.show',{id:module.category.id}) }}">{{module.category}}</td>
                
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas de Module . . .</p>
    {% endif %}

{% endblock %}
