{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

    <h1>Liste des sessions</h1>
    <a href="{{path('session.new')}}" class="btn btn-success">Ajouter une nouvelle Session</a>

    {% if sessions | length > 0 %}
        <table>
            <thead>
                <td>Nom de la session</td>
                <td>Description</td>
                <td>Date de commencement</td>
                <td>Date de fin</td>
                <td>Editer</td>
                <td>Supprimer</td>
            </thead>
            <tbody>
            {% for session in sessions %}
            <tr>
                <td><a href="{{path('session.show',{id:session.id})}}">{{session}}</a></td>
                <td>{{session.description}}</td>
                <td>{{session.dateStart | date('d-m-Y')}}</td>
                <td>{{session.dateEnd | date('d-m-Y')}}</td>
                <td><a href="{{path('session.edit',{id:session.id})}}" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a></td>
                <td><a href="{{path('session.delete',{id:session.id})}}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas de Session . . .</p>
    {% endif %}


{% endblock %}
