{% extends 'base.html.twig' %}

{% block title %}{{session}}{% endblock %}



{% block body %}

    <a href="{{path('app_session')}}">Retour</a>
    <h1> {{session}}</h1>

    <h3>description :</h3>
    <p>{{session.description}}</p>

    <div id="dateSession">
        <p class="dateStart">
            la session commence : {{session.formattedDateStart}}
        </p>
        <p class="dateEnd">
            la session termine : {{session.formattedDateEnd}}
        </p>
    </div>

    <div id="placesSession">
        <table>
            <thead>
                <td>Places</td>
                <td>Places Restantes</td>
            </thead>
            <tbody>
                <td>{{session.places}}</td>
                <td>{{session.placesRestantes}}</td>
            </tbody>
        </table>
    </div>
    <a href="{{path('session.edit',{id:session.id})}}" class="btn btn-warning"> Modifer la session</a>

    <h2>Liste des stagiaires participants a la session</h2>
    {% if session.interns | length > 0 %}
        <table>
            <thead>
                <td>Nom/Prenom de stagiaires</td>
                <td>Supprimer de la session</td>
            </thead>
            <tbody>
        {% for intern in session.interns %}
                <tr>
                    <td><a href="{{path('intern.show', {id:intern.id})}}">{{intern}}</a></td>
                    <td><a href="{{path('session.delIntern',{id:session.id,internId:intern.id})}}"><i class="fa-solid fa-trash-can"></i></a></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas encore de stagiaire inscrit</p>
    {% endif %}

    {% if session.placesRestantes != 0 %}
        <h2>Liste des stagiaire pouvant etre Ajouter</h2>

        <table>
            <thead>
                <td>Nom / Prénom stagiaires</td>
                <td> Ajouter stagiaire </td>
            </thead>
            <tbody>
                {% for internNotIn in internsNotIn %}
                    <tr>
                        <td><a href="{{path('intern.show', {id:internNotIn.id})}}">{{internNotIn}}</a></td>
                        <td><a href="{{path('session.addIntern',{id:session.id,internId:internNotIn.id})}}"><i class="fa-solid fa-plus"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>Liste des modules qui compose la session</h2>
    {% if session.programs | length > 0 %}
        <table>
            <thead>
                <td>Nom du module</td>
                <td>Durée</td>
                <td>Supprimer</td>
            </thead>
            <tbody>
        {% for program in session.programs %}
                <tr>
                    <td><a href="{{path('module_program.show',{id:program.module.id})}}">{{program.module}}</a></td>
                    <td>{{program.duration}}</td>
                    <td><a href="{{path('session.delModule',{id:session.id,programId:program.id})}}"><i class="fa-solid fa-trash-can"></i></a></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a pas encore de module</p>
    {% endif %}

    {% if session.placesRestantes != 0 %}
        <h2>Liste des stagiaire pouvant etre Ajouter</h2>

        <table>
            <thead>
                <td>Nom du module</td>
                <td> Ajouter </td>
            </thead>
            <tbody>
                {% for moduleNotIn in modulesNotIn %}
                    <tr>
                        <td><a href="{{path('module_program.show',{id:moduleNotIn.id})}}">{{moduleNotIn}}</a></td>
                        <td><a href="{{path('session.addModule',{id:session.id,moduleId:moduleNotIn.id,duration:'0'})}}" class="addModuleButton"><i class="fa-solid fa-plus"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <a href="{{path('session.delete',{id:session.id})}}" class="btn btn-danger"> Supprimer la session</a>

{% endblock %}


